
@font-face 
{
    /*font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
    url('DroidSans-webfont.woff') format('woff'),
    url('DroidSans-webfont.ttf') format('truetype'),
    url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal*/;
    font-family: 'Libre Franklin',sans-serif;
    font-weight: normal;
    font-style: normal;
}
html
{
    height: 100%;
}
body
{
    background-color: white;
    display: grid;
    grid-template-columns: 340px 900px;
    height: 100%;
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
}



@media screen and (min-width: 150px) and (max-width: 1239px) {






 }