.menus-index
{
    display: grid;
    justify-content: center;
    margin: 0 8em;
    margin-left: 0em;
    margin-right: 0em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    grid-gap: 5em;
    
    a{
        color: red;
    }

    &__item{
        border: black 1px;
        box-shadow: black 1px 1px 1px 1px;
        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            height: 100%;
            &:hover {
                animation: zoom 1s linear forwards;
                -webkit-animation: zoom 1s linear forwards;
            }
            .fa-itunes-note 
            {
                font-size: 50px;
                background: -webkit-linear-gradient(left,#fd0202,#dfbdaa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &--menu1 {
            background-color: #FCDFDB;
            border-radius: 5px;
            // grid-column: 1;
            // grid-row: 1;
        }
        &--menu2 {
            background-color: #FFF5FE;
            // grid-column: 2;
            // grid-row: 1;
        }
        &--menu3 {
            background-color: #F9F9F9;
            // grid-column: 1;
            // grid-row: 2;
        }
        &--menu4 {
            background-color: #FDFFFD;
            // grid-column: 2;
            // grid-row: 2;
        }          
    }
    &__titre {
        font-size: 26px;
        &--menu1 {
            margin-top: 0;
            font-family: 'Niconne',cursive;
            color: #3E141A;
        }
        &--menu2 {
            font-family: 'Croissant One',cursive;
            font-weight: lighter;
            background: -webkit-linear-gradient(300deg,#D8852E, #915DFC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--menu3 {
            font-family: 'Niconne',cursive;
            font-weight: lighter;
            background: -webkit-linear-gradient(left,#0936E0,#1D91FA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--menu4 {
            font-family: 'Kaushan Script',cursive;
            font-weight: lighter;
            background: -webkit-linear-gradient(#3D9339,#BFFF7E);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
    }
    
    &__soustitre {
        font-size: 36px;
        &--menu1 {
            text-transform: uppercase;
            font-family: 'Tillana',cursive;
            color: #3E141A;
        }
        &--menu2 {
            font-family: 'Merriweather',serif;
            color: #D8852E;
        }
        &--menu3 {
            font-family: 'Bad Script',cursive;
            background: -webkit-linear-gradient(left,#0936E0,#1D91FA);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--menu4{
            font-family: 'Bad Script',cursive;
            background: -webkit-linear-gradient(#3D9339,#BFFF7E);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
    }
    
    
}
.prochainement {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 30em;
    height: 3em;
    margin: 7em auto;
    border-radius: 15px;
    text-align: center;
    color: $color-texte;
    background-color: #579C87;

    h2 {   
        margin: 0;
        margin-top: 20px;
        padding-top: 10px;
        font-size:25px;
        font-weight: lighter;
        letter-spacing: 0.1em;
        background: transparent;
        border: 0px;
        color: $color-texte;
        &::after {
            content: "\2026";
            position: absolute;
            padding-left: 10px;
            overflow: hidden;
            animation: ellipsis steps(4) 1.3s infinite;
            }
    }
}
.main-footer__links {
    list-style-type: none
    
    }


@keyframes zoom {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@-webkit-keyframes zoom {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }

    50% {
        opacity: 0.8;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
    }
}

@keyframes ellipsis {
    0% {
        width: 0;
    }

    100% {
        width: 0.9em;
    }
}

@media screen and (min-width: 150px) and (max-width:1000px){
    .body
    {
        width: 100%;
    }
    .menus-index
    {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        padding-left: 5%;
    }
    .wrapper 
    {
        max-width: 100%;
    }
    .wrapper--layout
    {
        max-width: 100%;
    }
    .prochainement
    {
        max-width: 100%;
    }
    
}