.menus-index
{
    display: grid;
    justify-content: center;
    margin: 0 8em;
    grid-template-columns: 450px 450px;
    grid-template-rows: 600px 600px;
    grid-gap: 5em;
    
    &__item{
        border: black 2px;
        box-shadow: black 2px 2px 2px 2px;
        
        &--menu1 {
            background-color: #FCDFDB;
            // grid-column: 1;
            // grid-row: 1;
        }
        &--menu2 {
            background-color: #FFF5FE;
            // grid-column: 2;
            // grid-row: 1;
        }
        &--menu3 {
            background-color: #F9F9F9;
            // grid-column: 1;
            // grid-row: 2;
        }
        &--menu4 {
            background-color: #FDFFFD;
            // grid-column: 2;
            // grid-row: 2;
        }          
    }
    &__titre {
        &--menu1 {
            margin-top: 0;
            font-family: 'Niconne',cursive;
            color: #3E141A;
        }
        &--menu2 {
            font-family: 'Croissant One',cursive;
            font-weight: lighter;
            color: #FDFFFD;
        }
        &--menu3 {
            font-family: 'Niconne',cursive;
            font-weight: lighter;
            color: #FDFFFD;
        }
        &--menu4 {
            font-family: 'Kaushan Script',cursive;
            font-weight: lighter;
            color: #FDFFFD;
        }
        
    }
    
    &__soustitre {
        &--menu1 {
            text-transform: uppercase;
            font-family: 'Tillana',cursive;
            color: #3E141A;
        }
        &--menu2 {
            font-family: 'Merriweather',serif;
            color: #D8852E;
        }
        &--menu3 {
            font-family: 'Bad Script',cursive;
            color: #399DFA;
        }
        &--menu4{
            font-family: 'Bad Script',cursive;
            color: #F2BF56;
        }
        
    }
    
    
}
.prochainement {
    color: $color-texte;
    margin: 5em;
    margin-bottom: 10em;
    text-align: center;
}
.main-footer__links {
    list-style-type: none
    
}