.menu__article--4
{
    background-color: #F9F9F9;
    font-family: 'Kalam',cursive;
}
.menu__titre--4
{
    background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Kaushan Script',cursive;
    font-size: 45px;
    font-weight: lighter;
}
.barre_gauche--4 {
    background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
}
.barre_droite--4 {
    background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
}