.menu__article--3
{
    background: -webkit-linear-gradient(left ,#0936E0, #1D91FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #F9F9F9;
}
.menu__titre--3
{
    background: -webkit-linear-gradient(left ,#0936E0, #1D91FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}