.menu__article--2
{
    background: -webkit-linear-gradient(300deg,#E38913, #8F5BFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #FFF5FE;
}
.menu__titre--2
{
    background: -webkit-linear-gradient(300deg,#E38913, #8F5BFE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}