.menu__article--1
{
    color: #3E141A;
    background-color: #FCDFDB;
}
.menu__titre-principal--1
{
    color: #3E141A;
}

.menu__header--1 {
    padding-top: 40px;
    .fa-itunes-note {
        font-size: 55px;
        background: -webkit-linear-gradient(left,#f54d0b,#dfbdaa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}