.main-header {
    display: flex;
    height: 5rem;
    background-color: $color-fond;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: solid 0.1em #9acc84;

    &__logo {
        align-items:center;

        a {            
            color: $color-texte;
            text-decoration: none;
            &:visited{
                color: red;
                } 
        }

    }

}

footer
{
    background-color: $color-fond;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}
.footer-liste
{
    color: $color-texte;
    flex-direction: row;
    list-style: none;
}